{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5 auth-card">
    <div class="col-md-6">
        <div class="card shadow-sm border-0">
            <div class="card-body p-5">
                <h3 class="text-center mb-4">Crear Cuenta</h3>
                <form method="POST">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label">{{ field.label }}</label>
                            
                            {% if "password" in field.name %}
                                <div class="input-group">
                                    {{ field }}
                                    <button class="btn btn-outline-secondary toggle-password" type="button">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </div>
                            {% else %}
                                {{ field }}
                            {% endif %}

                            {% if field.errors %}
                                <div class="text-danger small">{{ field.errors|striptags }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="d-grid gap-2 mt-4">
                        <button type="submit" class="btn btn-success">Registrarme</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/auth.js' %}"></script>
{% endblock %}