{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/detalle_producto.css' %}">
{% endblock %}

{% block content %}
<div class="row mt-4">
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'catalogo:catalogo_productos' %}">Inicio</a></li>
                <li class="breadcrumb-item active">{{ producto.categoria.nombre }}</li>
            </ol>
    </nav>
    <div class="col-md-7 mb-4">
        <div class="gallery-container">
            <div class="thumbnails-sidebar">
                {% for img in producto.imagenes.all %}
                <img src="{{ img.imagen.url }}" 
                     class="thumb-item {% if forloop.first %}active-thumb{% endif %}" 
                     onclick="changeImage('{{ img.imagen.url }}', this)"
                     alt="Miniatura">
                {% endfor %}
            </div>

            <div class="main-img-wrapper shadow-sm">
                {% with primera=producto.imagenes.all.0 %}
                <img id="main-image" src="{% if primera %}{{ primera.imagen.url }}{% else %}https://via.placeholder.com/600x800{% endif %}" 
                     alt="{{ producto.nombre }}">
                {% endwith %}
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <h1 class="display-5 fw-bold mb-3">{{ producto.nombre }}</h1>
        <p class="h2 text-primary mb-4">${{ producto.precio }}</p>
        
        <div class="card bg-light border-0 mb-4">
            <div class="card-body">
                <h5 class="fw-bold">Sobre este producto</h5>
                <p class="text-muted">{{ producto.descripcion }}</p>
            </div>
        </div>

        <div class="d-grid gap-3">
            <button class="btn btn-warning btn-lg fw-bold">
                <i class="bi bi-cart-plus"></i> Agregar al carrito
            </button>
            <a href="https://wa.me/..." class="btn btn-outline-dark">Consultar por WhatsApp</a>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/detalle_producto.js' %}"></script>
{% endblock %}